<div class="container">
   <div class="row justify-content-center">
      <div class="col-5">
         <%= simple_form_for @hero do |f| %>
         <%= f.input :hero_name %>
         <%= f.button :submit, class: "btn-primary" %>   
         <%= link_to "Back", heros_path, class: "btn btn-outline-secondary"%>
         <% end %>
      </div>
   </div>
</div>