<div class="container">
   <h1 class="row justify-content-center">Hero Index</h1>
   <table class="table table-bordered bg-light">
      <thead bgcolor="#959595">
         <tr>
            <th scope="col">Hero Name</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
         </tr>
      </thead>
      <tbody>
         <% @heros.each do |hero|%>
         <tr>
            <td><%= hero.hero_name %>
            <td><%= link_to "Edit hero", edit_hero_path(hero) %>
            <td><%= link_to "Delete hero", hero_path(hero), method: :delete, data: {confirm: "Are you sure?"} %>
         </tr>
         <% end %>
      </tbody>
   </table>
   <%= link_to 'New Hero', new_hero_path, class: "btn btn-primary" %>
</div>