<div class="container" id="home-container">
   <div class="jumbotron">
      <h1 class="row justify-content-center display-4"><%= @hero.hero_name %>  Dashboard</h1>
      <hr class="my-4">
      <p class="lead">
      <div class="container row justify-content-center display-4">
         <p><%= link_to "Edit Info", edit_hero_path(@hero), class: "btn btn-primary" %></p>
      </div>
      <div class="container row justify-content-center display-4">
         <p><%= link_to "Bio", hero_bio_path(@hero), class: "btn btn-primary" %></p>
      </div>
   </div>
</div>
