<h1>Power Index</h1>
<table>
   <thead>
      <tr>
         <th>Power Type</th>
      </tr>
   </thead>
   <tbody>
      <% @powers.each do |power|%>
      <tr>
         <td><%= power.power_type %>
         <td><%= link_to "Edit power", edit_power_path(power) %>
         <td><%= link_to "Delete power", power_path(power), method: :delete, data: {confirm: "Are you sure?"} %>
      </tr>
      <% end %>
   </tbody>
</table>
<%= link_to 'New power', new_power_path %>