<h1>Power Index</h1>
<div class="container">
    <table class="table table-bordered bg-light">
         <thead bgcolor="#959595">  
      <tr>
         <th scope="col">Power Type</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
      </tr>
   </thead>
   <tbody>
      <% @powers.each do |power|%>
      <tr>
         <td><%= power.power_type %>
         <td><%= link_to "Edit power", edit_power_path(power) %>
         <td><%= link_to "Delete power", power_path(power), method: :delete, data: {confirm: "Are you sure?"} %>
      </tr>
      <% end %>
   </tbody>
</table>
</div>
<%= link_to 'New power', new_power_path %>