<p>
  <strong>Power Type:</strong>
  <%= @power.subject %>
</p>

<p>
  <strong>Description:</strong>
  <%= @power.description %>
</p>

<%= link_to "Edit", edit_power_path(@power)%> |
<%= link_to 'Back to power Index', powers_path %> |
