<%- if controller_name != 'sessions' %>
  <%= link_to "Log in", new_session_path(resource_name), class: "p-2 mb-2 row justify-content-center" %><br />
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Sign up", new_registration_path(resource_name), class: "p-2 mb-2 row justify-content-center" %><br />
<% end %>

<h3><%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, class: "p-2 mb-2 row justify-content-center " %></h3>

