<div class="container">
   <h1 class="row justify-content-center">Show Villain</h1>
   <table class="table table-bordered bg-light">
      <thead bgcolor="#959595">
         <tr>
            <th scope="col">Villain</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td><%= @villain.villain_name %></td>
         </tr>
      </tbody>
   </table>
   <%= link_to "Edit Villain", edit_villain_path(@villain), class: "btn btn-primary mr-4" %>
   <%= link_to 'Reports', reports_path, class: "btn btn-outline-secondary mr-4" %>
</div>
