
<div class="container" id="home-container">
   <div class="jumbotron">
      <h1 class="row justify-content-center display-4"><%= @user.email %> Dashboard</h1>
      <hr class="my-4">
      <p class="lead">
      <div class="container row justify-content-center display-4">
         <p><%= link_to "Edit Info", edit_user_path(@user), class: "btn btn-primary" %></p>
      </div>
      <div class="container row justify-content-center display-4">
         <p><%= link_to 'Back to Reports', reports_path, class: "btn btn-primary" %></p>
      </div>
   </div>
</div>