<div class="container" id="home-container">
    <div class="jumbotron text-center">
        <h1 class="display-4 text-white">RecoverNow</h1>
        <hr class="my-4">
        <p class="lead">
        <div class="btn-group" role="group" >
        <% if !user_signed_in? %>
            <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary mr-4" %>
            <%= link_to "Login", new_user_session_path, class: "btn btn-primary mr-4" %>
        <% end %>
        <% if user_signed_in? %>
            <%= link_to "Go to your reports", reports_path, class: "btn btn-primary btn-lg mr-4" %>
        <% end %>
        </div>
    </div>
</div>