<p>
  <strong>Assignee:</strong>
  <%= @assignee.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @assignee.email %>
</p>

<%= link_to "Edit", edit_assignee_path(@assignee)%> |
<%= link_to 'Back to assignee Index', assignees_path %> |
