<div class="container">
   <h1 class="row justify-content-center">List of Hero Bios</h1>
   <table class="table table-bordered bg-light">
      <thead bgcolor="#959595">
         <tr>
            <th scope="col" class="text-center">Hero </th>
            <% if current_user.admin? %>
            <th scope="col" class="text-center">Edit</th>
            <th scope="col" class="text-center">Delete</th>
            <% end %>
         </tr>
      </thead>
      <tbody>
         <% @herobios.each do |bio|%>
         <tr>
            <td class="text-center"><%= link_to bio.hero.hero_name, hero_bio_path(bio) %></td>
            <% if current_user.admin? %>
            <td class="text-center"><%= link_to "Edit Bio", edit_hero_bio_path(bio) %></td>
            <td class="text-center"><%= link_to "Delete Bio", hero_bio_path(bio), method: :delete, data: {confirm: "Are you sure?"} %></td>
            <% end %>
         </tr>
         <% end %>
      </tbody>
   </table>
   <% if current_user.admin? %>
   <%= link_to 'New Hero Bio', new_hero_bio_path, class: "btn btn-primary" %>
   <% end %>
</div>
