@import 'bootstrap/dist/css/bootstrap';

.navbar {
    background-color: #343a40 !important;
}

.nav-link {
    color: whitesmoke !important;
}

#logo {
    float: left;
    font-size: 1.7em;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    color: whitesmoke;

}

#home-container {
    margin-top: 25px;
}

html,
body {
  height: 100%;
}

#home-container {
  margin-top: 25px;
}

.jumbotron {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;


/* Sticky Footer Classes */

html,
body {
	height: 100%;
}

#page-content {
    flex: 1 0 auto;
    background-color: lightgrey;
}

#sticky-footer {
	flex-shrink: none;
}
  